* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

#tal {
  padding: 5px;
}

button {
  margin-top: 20px;
  margin-left: 50px;
  padding: 8px 35px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #409244;
}

#meddelelse-container {
  display: none;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}
